.el-input__inner, .el-button { // 去除圆角
  border-radius: 0 !important;
}

.el-form-item {
  // 缩小from表单每个模块margin-bottom
  margin-bottom: 1.8rem;
}

// 菜单
.el-menu {
  border-right: none !important;
  .el-menu-item:focus, .el-menu-item:hover, .el-submenu__title:focus, .el-submenu__title:hover {
    background-color: #3d3d3d !important;
  }
}

*:focus {
  outline: none !important;
}

// 下拉菜单
.el-dropdown {
  color: #ffffff !important;
}

.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: #3d3d3d !important;
  color: #ffffff !important;
}
